body {
  background: #fb934b;
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.4em;
  margin: 0em;
}

h1 {
  font-size: 2rem;
  line-height: 1.3rem;
}

p {
  margin-bottom: 1.6em;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
}

.seccion {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.header {
  background-color: #14ac9c;
  color: white;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-logo img {
  width: 150px;
}

.navigation a {
  margin: 0;
  padding: 0.5rem 0.5rem;
}

.navigation a:hover {
  background: #fb934b;
  border-radius: 5px;
}
.main {
  padding-top: 18rem;
  text-align: justify;
}

.img-barra img {
  width: 100%;
}

/*==================================
Footer
====================================*/
.footer {
  background-color: #14ac9c;
  padding: 2rem;
}

.footer img {
  width: 50%;
}

.cnt-footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.contenido-foot p,
li {
  color: white;
}

.contenido-foot p {
  font-size: 1.2rem;
}

.copyright {
  color: white;
  text-align: center;
}

/*==================================
Formulario
====================================*/
.cnt-frm label {
  color: black;
  font-size: 1.2rem;
}

input,
label:hover {
  cursor: pointer;
  transition-duration: 0.4s;
  display: block;
}

.inputs input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.inputs {
  display: flex;
  align-items: center;
  text-align: left;
}

.radio input {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.checks {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.form h1,
h2 {
  text-align: center;
}

.datos-cnt input {
  display: block;
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

textarea {
  display: block;
  width: 100%;
  height: 10rem;
}

#boton-frm {
  background-color: #14ac9c;
  color: var(--blanco);
  padding: 1rem;
  border: none;
  border-radius: 20px;
}
